!function ${{ pascal }}IMG($scale)
    !return "<img data:image/svg+xml;base64,{{ base64 }}{scale="+$scale+"}>"
!endfunction


!procedure {{ pascal }}(e_alias, e_label)
    GCEntity(e_alias, e_label, {{ pascal }}, {{ pascal }})
!endprocedure

!procedure {{ pascal }}(e_alias, e_label, e_descr)
    GCEntity(e_alias, e_label, e_descr, {{ pascal }}, {{ pascal }})
!endprocedure

$GCDefineEntityStyle({{ pascal }})


!procedure {{ pascal }}Participant(p_alias, p_label)
    GCParticipant(p_alias, p_label, {{ pascal }}, {{ pascal }})
!endprocedure

!procedure {{ pascal }}Participant(p_alias, p_label, p_descr)
    GCParticipant(p_alias, p_label, p_descr, {{ pascal }}, {{ pascal }})
!endprocedure


!procedure {{ pascal }}Group(g_alias, g_label="{{ g_label }}")
    $GCDefineGroup(g_alias, g_label, {{ pascal }}, {{ pascal }}Group)
!endprocedure

!procedure {{ pascal }}Group(g_alias, g_label="{{ g_label }}")
    $GCDefineGroup(g_alias, g_label, {{ pascal }}, {{ pascal }}Group)
!endprocedure

$GCDefineGroupStyle({{ pascal }}Group)