# Servoce Icons

|Icon|Service|
|---|---|
{% for service in services %}{% if not loop.last %}{% endif %}| ![{{ service.pascal }}](../source/icon/google-cloud-icons/{{ service.snake }}/{{ service.snake }}.svg) | {{ service.pascal }} |
{% endfor %}
